

.topBar{
position: static;
width: 100%;
height: 84px;



background: #101010;
}

.topBar2
{
  position: relative;
  width: 100%;
  height: 84px;
}

.edvora
{

position: absolute;
width: 114px;
height: 43px;
left: 43px;
top: 21px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 36px;
/* line-height: 43px; */
/* identical to box height */


color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
position: absolute;
width: 114px;
height: 43px;
left: 43px;
top: 21px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 43px;
/* identical to box height */


color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* Dhruv Singh */

.dhruvSingh{
position: absolute;
width: 121px;
height: 24px;
left: 1100px;
top: 30px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}
/* Rectangle */

.rectangle{
position: absolute;
width: 44px;
height: 44px;
left: 1220px;
top: 20.28px;

/*background: url(Image.png);*/
background: white;
border-radius: 22px;
transform: rotate(-0.36deg);
}

.backgroundColor{
  background: #7a7878;
  /* width: 10000px;
  height: 10000px; */
}


/* Nearest rides */

.nearestRides{
position: absolute;
width: 118px;
height: 22px;
left: 43px;
top: 30px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;

/* identical to box height */


color: white;
}


/* Upcoming rides (4) */

.upcomingRides{
position: absolute;
width: 164px;
height: 22px;
left: 205px;
top: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;

/* identical to box height */


color: white;
}



/* Past rides (2) */

.pastRides{
position: absolute;
width: 114px;
height: 22px;
left: 413px;
top: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: right;

color: white;
}


/* Vector */

.vector{
position: absolute;
left: 1100px;
right: 150px;
top: 30px;
bottom: 30px;

background: rgba(255, 255, 255, 0.8);
}




.filter{ 
position: absolute;
width: 48px;
height: 19px;
left: 1210px;
top: 30px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

/* Gray 6 */

color: #F2F2F2;
}


/* Rectangle 1268 */

.box{
position: relative;
width: 1200px;
height: 198px;
left: calc(50% - 1200px/2);
top: calc(50% - 198px/2 - 120px);

background: #171717;
border-radius: 10px;

}


/* Ride Id : 002 */

.rate{
position: absolute;
width: 353px;
height: 25px;
left: calc(50% - 353px/2 - 94.5px);
top: calc(50% - 25px/2 - 70.5px);

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #CFCFCF;
}



/* City Name */

.cityName{
position: absolute;
width: 60px;
height: 15px;
left: 1000px;
top: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}


/* Origin Station : 20 */

.origin{
position: absolute;
width: 340px;
height: 24px;
left: calc(50% - 340px/2 - 101px);
top: calc(50% - 24px/2 - 40px);

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #CFCFCF;

}


/* station_path : [20, 39, 40, 42, 54, 63, 72, 88, 98] */

.station{
position: absolute;
width: 475px;
height: 24px;
left: calc(50% - 475px/2 - 33.5px);
top: calc(50% - 24px/2 - 10px);

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #CFCFCF;
}


/* Date : 15th Feb 2022 16:33 */

.date{
position: absolute;
width: 406px;
height: 22px;
left: calc(50% - 406px/2 - 68px);
top: 110px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #CFCFCF;
}


/* Distance : 0 */

.distance{

  position: absolute;
  width: 270px;
  height: 18px;
  left: calc(50% - 270px/2 - 135px);
  top: 150px;   
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  
  color: #CFCFCF;

}


/* image 1 */

.image1{
position: absolute;
width: 296px;
height: 148px;
left: calc(50% - 296px/2 - 463px);
top: calc(50% - 148px/2 - 123px);

/* background: url(); */
border-radius: 5px;
}




